# Function

In [1]:
def times2(var):
    return var*2

In [2]:
times2(5)

10

# Map Function

In [3]:
seq = [1,2,3,4,5]

In [6]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

# Lambda Expression

In [9]:
t = lambda var:var*2

In [11]:
t(6)

12

In [12]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

# In built filter function

In [13]:
filter(lambda num: num%2 == 0,seq)

In [14]:
list(filter(lambda num: num%2 == 0,seq))

[2, 4]

# Methods

In [15]:
s = 'hello my name is Adhikansh Mittal'

In [22]:
s.lower()

'hello my name is adhikansh mittal'

In [23]:
s.upper()

'HELLO MY NAME IS ADHIKANSH MITTAL'

In [24]:
s.split()

['hello', 'my', 'name', 'is', 'Adhikansh', 'Mittal']

In [25]:
tweet = 'Go Sports! #sports'

In [28]:
tweet.split('#')[1]

'sports'

In [29]:
d = {'k1':1,'k2':2}

In [30]:
d

{'k1': 1, 'k2': 2}

In [32]:
d.keys()

dict_keys(['k1', 'k2'])

In [33]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [35]:
d.values()

dict_values([1, 2])

In [38]:
lst = [1,2,3]

In [39]:
lst.pop()

3

In [41]:
lst= [1,2,3,4,5]

In [43]:
lst.pop(2)

3

In [44]:
lst.append('new')

In [45]:
lst

[1, 2, 4, 5, 'new']

In [46]:
'x' in lst

False

In [47]:
1 in lst

True

In [48]:
'k1' in d

True

# Tupple unpacking

In [49]:
x = [(1,2),(3,4),(5,6)]

In [51]:
x[0][1]

2

In [55]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6