# Dictionary

In [1]:
d = {'key1':'value','key2':123}

In [2]:
d['key1']

'value'

In [3]:
d

{'key1': 'value', 'key2': 123}

In [4]:
d = {'k1':[1,2,3]}

In [6]:
d['k1']

[1, 2, 3]

In [10]:
d['k1'][1]    #Access element in list

2

In [11]:
d={'k1':{'innerkey':[1,2,3]}}

In [12]:
d['k1']['innerkey'][1]

2

In [13]:
True

True

In [14]:
False

False

# Tuples

In [15]:
t = (1,2,3)

In [16]:
t[0]

1

In [17]:
my_list = [1,2,3]

In [18]:
my_list[0]

1

In [19]:
my_list[0] = 4

In [20]:
my_list

[4, 2, 3]

In [24]:
#t[0] = 4   #These are immutable i.e. tuple

# Set

In [25]:
{1,2,3}

{1, 2, 3}

In [26]:
{1,1,1,2,3,3,3,3,4,5} #give uniques elements

{1, 2, 3, 4, 5}

In [27]:
set([1,1,1,2,2,3,2,3,3,4,4,4,4,4,5])

{1, 2, 3, 4, 5}

In [28]:
s= {1,2,3}

In [29]:
s.add(5)

In [30]:
s

{1, 2, 3, 5}

# Comparision Operator

In [31]:
1 > 2

False

In [32]:
1 < 2

True

In [33]:
1 >= 2

False

In [34]:
1 == 1

True

In [35]:
1 != 3

True

In [36]:
'hi' == 'bye'

False

In [37]:
'hi' == 'hi'

True

In [40]:
(1 < 2) and (2 > 3)

False

In [42]:
(1 < 2) or (2 >3) or (1 == 1)

True

In [43]:
True and True

True

In [44]:
True and False

False

In [45]:
True or False

True

In [46]:
False or False

False

# Conditional Statements

In [48]:
if 1<2:
    print('yep!')
else:
    print('No...')

yep!

In [49]:
if True:
    x = 2 + 2
    
x

4

In [50]:
if 1 == 2:
    print('First')

In [57]:
s='hi'
if(s == 'hey'):
    print(s)
elif(s=='hi'):
    print(s)
elif(s=='hola'):
    print(s)
else:
    print('Null')

hi